* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #fff;
    box-sizing: border-box;
}

body {
    background: #222;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.card {
    width: 90%;
    max-width: 470px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: linear-gradient(45deg, #2896eb, #8fe0ff);
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    width: 80px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    font-size: 18px;
}

.search button {
    background: #ebfffc;
    border: 0;
    outline: 0;
    border-radius: 50%;
    margin-left: 16px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    transform: translateY(2px);
    width: 20px;
}

.err {
    display: none;
    text-align: left;
    padding: 15px;
}

.weather {
    display: block;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.windSpeed,
.humidity {
    font-size: 28px;
    margin-top: -6px;
}

@media screen and (max-width:500px) {
    .details {
        padding: 0;
    }

}